{% extends 'base/base.html' %}


{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-12" style="margin-top:2%;">
       <table class="table table-bordered">
        <thead>
          <tr >
            <th><h3>Total Mazjid</h3></th>
            <th><h3>{{masjid_count}}</h3></th>
          </tr>
          <tr>
            <th><h3>Total Family</h3></th>
            <th><h3>{{family_count}}</h3></th>
          </tr>
          <tr>
            <th><h3>Total Members</h3></th>
            <th><h3>{{member_count}}</h3></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        </thead>
    </div>
    </div>
  </div>
</div> 
{% endblock body %}




