{% extends 'base/base.html' %}


{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="margin-top:2%;">
       <table class="table table-bordered">
        <thead>
          <tr>
            <th>Total Mazjid</th>
            <th>{{masjid_count}}</th>
          </tr>
          <tr>
            <th>Total Family</th>
            <th>{{family_count}}</th>
          </tr>
          <tr>
            <th>Total Members</th>
            <th>{{member_count}}</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        </thead>
    </div>
    </div>
  </div>
</div> 
{% endblock body %}




