{% extends 'base/base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/members">Family</a></li>
            </ol>
        </nav>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        
        <h4>Members in <strong>{{family}}</strong></h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>DOB</th>
                <th>Email</th>
                <th style="width:5%;" >Edit</th>
                <th style="width:5%;">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for m in members %}
                <tr>
                <td>{{m.member_name}}</td>
                <td>{{m.member_contact_no}}</td>
                <td>{{m.member_dob }}</td>
                <td>{{m.member_email }}</td>
                <td><a href="/members/edit/{{m.id}}/{{family_id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="/members/delete/{{m.id}}/{{family_id}}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
            
            
            </tbody>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <h3>{{formtitle}}</h3>
            {% load widget_tweaks %}
                <form method="POST" id="{{id}}" action="{{url|safe}}" {% if enctype %} enctype="multipart/form-data" {% endif %}>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                            
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field|field_type == 'imagefield' %}
                            
                        {% endif %}
                        {% if field.field.widget.input_type == "checkbox" %}
                            {% if delete_form%}
                            {{ field|attr:'disabled' }}
                            {% else %}
                            {{ field }}
                            {% endif %}
                        {% else %}
                            {% if delete_form%}
                                {{ field|add_class:'form-control'|attr:'disabled' }}
                                {% else %}
                                {{ field|add_class:'form-control' }}
                                {% endif %}
                        {% endif %} 
                        <span class="help-block" id="help_{{ field.id_for_label }}"></span>
                    </div>
                    {% endfor %}
                    <button class="btn btn-success" type="submit"><span data-lang-mal="സമര്‍പ്പിക്കുക" data-lang-eng="Submit" class="lang-sw">Submit</button>
                    <button class="btn btn-danger" type="reset"><span data-lang-mal="വീണ്ടെടുക്കുക" data-lang-eng="Reset" class="lang-sw">Reset</button>
                </form>
        </div>
    </div>
</div>

{% endblock body %}


