{% extends 'base/base.html' %}

{% block body %}

<div class="container">
    
    <div class="row">
                <div class="col-sm-3">
                  <div id="tabletools" style="width:100%;">
                    <button class="btn btn-info" id='table_refresh' style="margin-bottom:2%;"><i class="fa fa-refresh" aria-hidden="true" ></i>&nbsp;&nbsp;Refresh</button>
                    <a class="btn btn-success" href="./add/" id='view_add' style="margin-bottom:2%;"><i class="fa fa-refresh" aria-hidden="true" ></i>&nbsp;&nbsp;Add</a>
                  </div>
                  </div>
                  <div class="col-sm-9">
                    <div id="toolbox" class="width:100%;" style="display:none;">
                      <button class="btn btn-success" data-model-title="Patient Details" id="view_details" style="margin-left:0.25%; margin-right:0.25%;"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;View Details</button>
                      <button class="btn btn-warning" data-model-title="Edit Patient Details" id="view_edit" style="margin-left:0.25%; margin-right:0.25%;"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit</button>
                      <button class="btn btn-warning" style="margin-left:0.25%; margin-right:0.25%;"><i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;&nbsp;Print Card</button>
                      <button class="btn btn-warning" style="margin-left:0.25%; margin-right:0.25%;"><i class="fa fa-forward" aria-hidden="true"></i>&nbsp;&nbsp;Forward</button>
                      <button class="btn btn-danger" style="margin-left:0.25%; margin-right:0.25%;"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;Delete</button>
                    </div>
                  </div>
                  </br>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="view_table" class="table hover table-bordered" style="width:100%;">
                    <thead>
                      <tr>
                        {% for thead in table_heads %}  
                        <th>{{thead}}</th>
                        {% endfor %}
                      </tr>
                    </thead>
            </table>
        </div>
    </div>
</div>

<script>
  var table
      $(document).ready(function() {
      $("#view_edit").on('click',function(){
        var id = table.row('.selected').id();
        var mtitle = $(this).attr('data-model-title');
                  if(id != undefined){
                    $.get("{{edit_url}}"+id, function(data, status){
                      $(".modal-title").text(mtitle);
                      $(".modal-body").html(data);
                      $('#mainModal').modal('show');
                      var tag = $('.form-group').find('a');
                      tag.replaceWith("<img src='"+tag.attr('href')+"' class='img-thumbnail' width='100px' height='100px' />");
                    });
        }
        
      });

      $("#view_details").on('click',function(){
        var id = table.row('.selected').id();
         var mtitle = $(this).attr('data-model-title');
                  if(id != undefined){
                    $.get("{{details_url}}"+id, function(data, status){
                      $(".modal-body").html(data);
                      $(".modal-title").text(mtitle);
                      $('#mainModal').modal('show');
                      
                    });
        }
        
      });

     //$("#toolbox").hide();
    table = $('#view_table').DataTable({
              "serverSide": true,
              "scrollX": true,
              "scrollY": '50vh',
              "rowId": 'id',
              "ajax": {{ajax|safe}},
              "columns": {{columns|safe}},
              {% if column_width %}
              "columnDefs":{{column_width|safe}}
              {% endif %}
        });
     

	 $('#table_refresh').on('click',function(){
            table.ajax.reload();
          });

          $('#view_table tbody').on( 'click', 'tr', function () {
            if ( table.data().any() ) {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
                $('#toolbox').hide();
                $('#tabletools').show();
           
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $('#toolbox').show();
                $('#tabletools').hide();
                //$('#edit-tab').parent('li').addClass('disabled');'.selected' .id()
                var data = table.row(this).id();
                console.log( data );
            }
            }
          } );


      });
      
      
</script>

{% endblock body %}
